.canva{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#canvas {
    border: solid black;
    background-image: url("./background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

body {
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* text-align: center; */
}

#start-button {
    font-size: 25px;
    background-color: rgb(168, 19, 232);
    color: #fff;
    padding: 20px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 10px;
    margin-top: 100px;
    position: absolute;

}
.button {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.p {
    color: black;
    font-size: 25px;
    font-style: italic;
}

h1 {
    color: rgb(168, 19, 232);
    box-sizing: border-box;
    padding-top: 5px;
    width: 190px;
    height: 50px;
    border: 1px solid rgb(168, 19, 232);
    background: white;
    margin-top: 10px;
    text-align: center;
}

.score-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.instructions {
    text-align: center;
    font-family: "roboto";
    font-size: 24px;
    
}





#winner {
    display: block;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 5px 5px rgb(168, 19, 232);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .winner.hidden {
    display: none;
}

.loser.hidden {
    display: none;
} */

#loser {
    display: block;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 5px 5px rgb(168, 19, 232);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}